---
import FAQ from "@components/FAQ";
import Prose from "@components/Prose.astro";
import NarrowContainer from "@containers/NarrowContainer";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import After1 from "./_assets/after1.png";
import After2 from "./_assets/after2.png";
import After3 from "./_assets/after3.png";
import Before1 from "./_assets/before1.png";
import Before2 from "./_assets/before2.png";
import Before3 from "./_assets/before3.png";
import HorizontalContent from "./_components/HorizontalContent.astro";
import HorizontalImages from "./_components/HorizontalImages.astro";
import PopupForm from "./_components/PopupForm";

const videoId = "_afyiQB7N0Y";

const faqs = [
  {
    question: "Is this actually free?",
    answer: "Yes, we don't even collect payment information.",
  },
  {
    question: "Will this change how my store looks?",
    answer:
      "Our goal is to increase your page speed without significant visual changes. Minor changes may be required to load certain assets more quickly. We will review your store and determine if any visual changes are needed before starting.",
  },
  {
    question: "Will you have to rewrite my entire website?",
    answer:
      "We won't know the full scope of work before reviewing your site. Generally, custom sites load singificantly faster than website builders like Shopify. This is because website builders run large scripts that significantly hurt page speeds. ",
  },
  {
    question: "How will I know if it works?",
    answer:
      "We will help you run a split test to compare bounce rates/conversions between the old and new sites. If you are happy with the results, you can switch to our site for free.",
  },
  {
    question: "Can I keep all my tracking and analytics software?",
    answer: "Yes, this will not impact any tracking for your campaigns.",
  },
];

let showPopup = false;
---

<BaseLayout
  canonicalUrl={undefined}
  description={"We optimize ecom stores for lower bounce rates and higher sales with no extra ad spend."}
  image={undefined}
  title={"More sales for the same ad spend | Ecom Owners"}
  hideFooter="false"
  hideHeader="false"
>
  <NarrowContainer>
    <div
      id="form"
      class="fixed inset-0 z-50 flex hidden items-center justify-center bg-black bg-opacity-50"
    >
      <div class="relative z-50 w-full rounded-md shadow-lg">
        <PopupForm client:visible />
        <button
          id="closeButton"
          class="absolute right-2 top-2 text-gray-500 hover:text-gray-700"
        >
          &times;
        </button>
      </div>
    </div>
    <!-- <div id="form" class="hidden">
      <div
        class="trasnform-[translate(-50%, -50%)] relative left-[50%] top-[50%] z-50 w-full"
      >
        <PopupForm client:visible />
      </div>
    </div> -->

    <section class="relative pt-16 md:pt-8">
      <header>
        <Prose class="max-w-none">
          <h1 class="text-center">More Sales for the Same Ad Spend</h1>
        </Prose>
      </header>
      <HorizontalContent {videoId}>
        <h2>We'll do it for <u>FREE</u></h2>
        <p>
          <u>Ecom owners</u>, your page speeds are killing your ad campaigns.
          You could be missing out on 20+% more sales because of high bounce
          rates.
        </p>
        <p>
          We'll optimize your store's performance for free. We just want case
          studies.
        </p>
        <div class="mt-10 text-center">
          <button
            id="formButton"
            class="rounded-md bg-cta px-3.5 py-2.5 text-base font-semibold text-gray-100 shadow-sm hover:bg-accent-1 hover:text-gray-100 hover:no-underline focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            <span class="text-white">Take this course</span>
          </button>
        </div>
      </HorizontalContent>
    </section>
    <section class="z-0 mb-16">
      <Prose class="mx-auto my-8"
        ><h2 class="text-center">
          Optimized for high conversions and retention
        </h2></Prose
      >
      <HorizontalImages class="z-0">
        <Image
          src={Before1}
          alt="First before example"
          slot="leftImage"
          class="z-10"
        />
        <Image
          src={After1}
          alt="First after example"
          slot="rightImage"
          class="z-10"
        />
      </HorizontalImages>
      <HorizontalImages>
        <Image
          src={Before2}
          alt="Second before example"
          slot="leftImage"
          class=""
        />
        <Image
          src={After2}
          alt="Second after example"
          slot="rightImage"
          class=""
        />
      </HorizontalImages>
      <HorizontalImages>
        <Image
          src={Before3}
          alt="Third before example"
          slot="leftImage"
          class=""
        />
        <Image
          src={After3}
          alt="Third after example"
          slot="rightImage"
          class=""
        />
      </HorizontalImages>
    </section>
    <section class="mb-16">
      <Prose class="mx-auto my-8">
        <h2 class="text-center">Here's the proof</h2>
      </Prose>
      <Prose class="mx-auto max-w-5xl">
        <ul>
          <li>
            The average website takes around 8.6 seconds to load on mobile
            devices.
          </li>
          <li>
            83% of online users expect websites they visit to load in three
            seconds or less.
          </li>
          <li>
            40% of online users will abandon a website that takes longer than
            three seconds to load.
          </li>
          <li>
            Pages that take only one or two seconds to load have an average
            bounce rate of 9%, but pages that take five seconds to load have an
            average bounce rate of 38%.
          </li>
          <li>
            Nearly 70% of users say that an online retailer's site speed has an
            impact on how willing they are to buy from that retailer.
          </li>
          <li>
            The top 10 ecommerce websites in the US have an average page load
            time of 1.96 seconds.
          </li>
        </ul>
      </Prose>
    </section>
    <section class="mb-16">
      <Prose class="mx-auto my-8"
        ><h2 class="text-center">How it works</h2></Prose
      >
    </section>
    <section class="mb-16">
      <Prose class="mx-auto my-8"><h2 class="text-center">FAQs</h2></Prose>
      <FAQ {faqs} client:visible />
    </section>
  </NarrowContainer>
</BaseLayout>

<script type="application/javascript" defer>
  const formButton = document.getElementById("formButton");
  formButton.addEventListener("click", () => {
    const form = document.getElementById("form");
    const classes = form.className.split(" ");
    if (!classes.includes("hidden")) {
      form.className += " hidden";
      console.log(form.className);
    } else {
      form.className = classes
        .filter((s) => s !== "hidden")
        .reduce((a, b) => a + " " + b, "");
      console.log(form.className);
    }
  });
</script>
